.inputList {
  display: flex;
  height: 48px;
  padding: 10px 20px;
  &_label {
    width: 140px;
    align-self: center;
    .required {
      color: rgb(218, 27, 27);
    }
  }
  &_input {
    width: 333px;
    position: relative;
    height: 48px;
    input {
      width: 100%;
      height: 46px;
      padding: 0px 11px 1px 15px;
      border-radius: 4px;
      border: 1px solid rgb(221, 221, 221);
      font-weight: 400;
      font-size: 16px;
      line-height: 1.5;
      color: rgb(51, 51, 51);
      outline: none;
      box-sizing: border-box;
    }
    .inputError {
      border: 1px solid red;
    }
    .errorMsg {
      width: fit-content;
      color: red;
      font-size: 12px;
    }
  }
  &_button {
    width: 120px;
    margin-left: 8px;
  }
}
