.myInfoModify {
  padding-top: 10px;
  box-sizing: border-box;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-left: 70px;
  min-width: 600px;
  .ListForm {
    display: flex;
    padding: 10px 20px;
    label {
      width: 140px;
    }
    .profile {
      &_inputContainer {
        input {
          margin-bottom: 10px;
        }
        &_img {
          border: 1px solid #cccccc;
          width: 150px;
          height: 150px;
        }
      }
    }
  }

  .btn {
    display: flex;
    gap: 1rem;
    margin: 3rem 0 3rem 140px;
    button {
      width: 300px;
    }
  }
}

.alignSelfCenter {
  align-self: center;
}
