.adminNavbar {
  width: 20vw;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  gap: 2rem;
  box-sizing: border-box;
  border-right: 1px solid $color-gray;
  background-color: $color-white;
  ul {
    li {
      font-size: 16px;
      border-bottom: 1px solid $color-lightgray;
      a {
        padding: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: inherit;
        cursor: pointer;
        &:hover {
          background-color: rgb(250, 250, 250);
          color: $color-purple;
          font-weight: 600;
        }
      }
    }
  }
}
