.adminHeader {
  width: 100vw;
  height: 8vh;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  box-shadow: $box-shadow;
  justify-content: space-between;
  padding: 0 2rem;
  position: relative;
  background-image: linear-gradient(135deg, #667eea 0, #764ba2 100%);
  background-color: $color-purple;
  a {
    display: flex;
    align-items: center;
    gap: 1rem;
    box-sizing: border-box;
    .logo {
      width: 30px;
    }
    .title {
      font-size: 1rem;
      font-weight: 600;
      color: $color-purple;
      color: $color-white;
    }
  }
  .adminLogout {
    outline: none;
    background-color: transparent;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
  }
}
