.myInfo {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 100px;
  position: relative;
  .noList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    height: 450px;
    h4 {
      color: $color-lightgray;
    }
  }
}