.myLike {
  display: flex;
  flex-direction: column;
  position: relative;
  .likeNum {
    position: absolute;
    top: -1px;
    left: 92px;
    font-size: 1.4rem;
    font-weight: bold;
  }
  .page {
    display: flex;
    justify-content: center;
    margin: 30px 0 60px;
  }
  ul {
    padding: 0 20px;
    li {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 20px;
      padding: 20px 0px;
      border-bottom: 1px solid $gray-line;
      box-sizing: border-box;
      overflow: hidden;
      .img {
        width: 100px;
        height: 100px;
        display: flex;
        align-items: center;
        overflow: hidden;
        img {
          width: 100%;
        }
      }
      .product {
        display: flex;
        flex-flow: column;
        gap: 13px;
        p {
          font-size: 14px;
        }
        span {
          font-size: 16px;
          font-weight: bold;
        }
      }
      .button {
        margin-left: auto;
        display: flex;
        flex-flow: column;
        gap: 10px;
        position: relative;
        button {
          width: 85px;
          height: 35px;
          &:first-child {
            color: #2d2d2d;
            border: 1px solid #dedede;
          }
          &:nth-child(2) {
            padding: 0 12px 0 28px;
          }
          span {
            font-size: 12px;
          }
        }
        .cart {
          position: absolute;
          bottom: 12px;
          left: 20px;
        }
      }
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    height: 557px;
    p {
      color: $color-lightgray;
    }
  }
}
