.signup {
  padding-top: 50px;
  box-sizing: border-box;
  width: 640px;
  min-height: 80vh;
  height: auto;
  display: flex;
  flex-direction: column;

  .header {
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 2px solid rgb(51, 51, 51);
    padding-bottom: 50px;
    h1 {
      font-size: 1.4rem;
      font-weight: 800;
      color: rgb(51, 51, 51);
    }
  }

  .btn {
    padding: 40px 200px;
  }
}
