.banner_m {
  margin: auto;
  width: $width-inner;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom:50px;
  .title {
    padding-top: 40px;
    font-weight: 700;
    font-size: 28px;
    color: $color-black;
    .header {
      padding-bottom: 10px;
    }
  }
  .swiper {
    .slide {
      display: flex;
      justify-content: center;
      box-sizing:border-box;
      img {
        display: block;
        width: 100%;
        border-radius: 30px;
        margin-right: 20px;
      }
    }
  }
}