.cartlist {
  width: 70%;
  height: auto;
  min-height: 50vh;
  box-sizing: border-box;
  .empty {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    padding-top: 7em;
    gap: 1em;
    p {
      width: 100%;
      font-size: 1.2em;
      font-weight: 700;
      color: $color-black;
      text-align: center;
    }
    Button {
      margin-top: .8em;
    }
  }
}