.cartitem {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid $color-lightgray;
  .infoarea {
    width: 70%;
    display: flex;
    align-items: center;
    gap: 20px;
    .checkbox {
      input {
        width: 18px;
        height: 18px;
      }
    }
    .thumbnail {
      width: 100px;
      height: 100px;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 100px;
      }
    }
  }
  .calcarea {
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .countwrap {
      .count {
        display: flex;
        gap: 10px;
        button {
          width: 22px;
          height: 22px;
          border-radius: 30px;
          border: 1px solid $color-black;
          background-color: $color-white;
        }
      }
    }
    .price {
      font-weight: 700;
    }
  }
}