@import './../common.scss';

.userHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid lightgray;
  box-shadow: $box-shadow;
  width: 100vw;
  .service {
    width: $width-inner;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    height: 2.6rem;
    font-size: 12px;
    a {
      &:first-child {
        color: $color-purple;
        &::after {
          content: ' ';
          display: inline-block;
          width: 1px;
          height: 11px;
          margin-left: 12px;
          background-color: rgb(217, 217, 217);
        }
      }
      color: $color-black;
      font-weight: 600;
    }
  }
  .search {
    width: $width-inner;
    display: flex;
    justify-content: space-between;
    display: flex;
    align-items: center;
    gap: 1rem;
    a {
      display: flex;
      align-items: center;
      gap: 1rem;
      .logo {
        width: 50px;
      }
      .title {
        font-size: 18px;
        font-weight: 600;
        color: $color-purple;
      }
    }
    .inputWrap {
      position: relative;
      .searchInput {
        width: 24rem;
        font-size: 16px;
        outline: none;
        border: 1px solid $color-purple;
        border-radius: 6px;
        padding: 0.8rem;
      }
      .searchBtn {
        border: none;
        background-color: transparent;
        position: absolute;
        outline: none;
        top: 2px;
        right: 0;
        padding: 0.6rem;
        cursor: pointer;
      }
    }
    .links {
      display: flex;
      align-items: center;
      gap: 1.4rem;
    }
  }
  nav {
    width: $width-inner;
    ul {
      display: flex;
      justify-content: space-between;
      height: 4rem;
      align-items: center;
      font-weight: 600;
      .hamberger {
        display: flex;
        align-items: center;
        gap: 0.5rem;
      }
    }
  }
}

.mypage {
  background-color: red;
}
