.container {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba($color: $color-white, $alpha: .6);
  z-index: 900;
  .loading {
    position: absolute;
    left: 50vw;
    top: 25vh;
  }
}

.ajaxLoader {
  transform-origin: 50% 50%;
  transform: rotate(90deg) translate(-50%, 0%);
  font-size: 20px;
  width: 1em;
  height: 3em;
  color: #43007c;
}
.ajaxLoader .paw {
  width: 1em;
  height: 1em;
  animation: 2050ms pawAnimation ease-in-out infinite;
  opacity: 0;
}
.ajaxLoader .paw svg {
  width: 100%;
  height: 100%;
}
.ajaxLoader .paw .icon {
  fill: currentColor;
}
.ajaxLoader .paw:nth-child(odd) {
  transform: rotate(-10deg);
}
.ajaxLoader .paw:nth-child(even) {
  transform: rotate(10deg) translate(125%, 0);
}
.ajaxLoader .paw:nth-child(1) {
  animation-delay: 1.25s;
}
.ajaxLoader .paw:nth-child(2) {
  animation-delay: 1s;
}
.ajaxLoader .paw:nth-child(3) {
  animation-delay: 0.75s;
}
.ajaxLoader .paw:nth-child(4) {
  animation-delay: 0.5s;
}
.ajaxLoader .paw:nth-child(5) {
  animation-delay: 0.25s;
}
.ajaxLoader .paw:nth-child(6) {
  animation-delay: 0s;
}
.no-cssanimations .ajaxLoader .paw {
  opacity: 1;
}

@keyframes pawAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
