$color-black: #404040;
$color-white: #fff;
$color-darkgray: #5a5a5a;
$color-gray: #dadce0;
$color-lightgray: #eeeeee;
$color-purple: rgb(95, 0, 128);
$box-shadow: rgba(0, 0, 0, 0.07) 0px 3px 4px 0px;
$box-shadow-deep: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
$width-inner: 74vw;
$line: #333;
$gray-line: #f4f4f4;
