.dashBoard {
  width: 100%;
  height: 74vh;
  display: flex;
  flex-direction: column;
  .row {
    display: flex;
    width: 100%;
    height: 50%;
    .content {
      display: flex;
      flex-direction: column;
      gap: 1.4rem;
      width: 50%;
      h1 {
        display: flex;
        font-size: 22px;
        text-align: left;
        font-weight: 600;
        margin-bottom: 1rem;
      }
      svg {
        margin-right: 8px;
      }
      .chart {
        width: 100%;
        height: 300px;
      }
    }
  }
}
