.productDetail {
  display: flex;
  flex-direction: column;
  h1 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2rem;
  }
  .container {
    display: flex;
    margin-bottom: 2rem;
    img {
      width: 24vw;
      height: 60vh;
    }
    .info {
      display: flex;
      width: 100%;
      flex-direction: column;
      justify-content: space-between;
      padding-left: 2rem;
      padding-top: 1rem;
      .desc {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        p {
          margin-bottom: 1rem;
          line-height: 1.2;
        }
        h2 {
          font-weight: 600;
        }
      }
      .buttons {
        display: flex;
        gap: 1rem;
        justify-content: flex-end;
      }
    }
  }
  .photo {
    border-top: 1px solid $color-gray;
    padding-top: 2rem;
  }
}
