.productList {
  display: flex;
  flex-direction: column;
  text-align: center;
  li {
    display: flex;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid $color-gray;
    height: 3rem;
    cursor: pointer;
    font-size: 14px;
    &:hover {
      background-color: rgb(250, 250, 250);
      color: $color-purple;
      font-weight: 600;
    }
    &:nth-child(1) {
      cursor: default;
      &:hover {
        background-color: $color-white;
        color: $color-black;
        font-weight: 400;
      }
      input {
        width: 3rem;
        accent-color: $color-purple;
      }
      div {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        span {
          &:nth-child(1) {
            width: 10%;
          }
          &:nth-child(2) {
            width: 60%;
            text-align: left;
          }
          &:nth-child(3) {
            width: 15%;
            text-align: left;
          }
          &:nth-child(4) {
            width: 15%;
          }
        }
      }
    }
  }
}

.buttons {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}
